/*初始化CSS*/

@font-face {
    font-family: 'Special Elite';
    src: url("../fonts/SpecialElite.ttf") format("truetype");
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Special Elite', 'Helvetica', Arial, sans-serif;
}

a{
    text-decoration: none;
}

*::selection{
    background-color: lightslategray;
}

body{
    background-color: #ea4255;
}

.main-wrap{
    max-width: 1440px;
    margin: 0 auto;
}

.contacts{
    min-height: 40px;
    color: #fff;
}

.contacts div{
    display: inline-block;
    line-height: 20px;
    font-size: 20px;
    padding: 20px 0;
    margin: 0 20px;
}

.header-wrap .header-pic{
    height: 250px;
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    text-align: center;
}

.header-wrap .cart-cta{
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
    color: #fff;
    display: block;
    font-size: 20px;
    padding: 20px 25px;
}

.site-logo{
    width: 100%;
    text-align: center;
    display: table;
}

.site-logo .site-logo-inner{
    display: table-cell;
    height: 250px;
    vertical-align: middle;
    width: 100%;
}

.site-logo-inner .header-youthy{
    color: #2a3437;
    font-size: 46px;
    letter-spacing: 1px;
    display: block;
}

.site-logo-inner small{
    font-size: 20px;
    font-family: 'Special Elite', 'Helvetica', Arial, sans-serif;
}

/*菜单布局*/
.header-wrap .header-nav{
    line-height: 50px;
    background-color: #2a3437;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.header-nav .nav>li{
    display: inline-block;
    margin: 0 20px;
}

.header-nav .nav{
    position: relative;
}

ul a{
    color: #fff;
    display: block;
}

nav a:hover{
    color: #aaa;
}

.sub-menu{
    position: absolute;
    list-style: none;
    display: none;
    z-index: 999;
    background-color: #2a3437;
    padding: 0px 20px;
    width: 150px;
    text-align: left;
    line-height: 40px;
}

.nav>li:hover .sub-menu{
    display: block;
}

/*图片轮播窗口*/
.slider-Band{
    color: #fff;
    min-height: 448px;
    width: 100%;
    background-image: url("../img/slider-3-1440x648.jpg");
    padding: 100px 0;
    position: relative;
}

.slider-band-inner{
    display: inline-block;
    padding: 30px 15px;
    background-color: rgba(0, 154, 233, 0.95);
}

.slider-band-inner h2{
    font-size: 28px;
    font-weight: normal;
}

.slider-band-content{
    display: inline-block;
    line-height: 20px;
    width: 520px;
    background-color: rgba(234, 66, 86, 0.85);
    padding: 20px;
    position: relative;
    top: 120px;
    left: -120px;
}
