/*初始化CSS*/

@font-face {
    font-family: 'Special Elite';
    src: url("../fonts/SpecialElite.ttf") format("truetype");
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Special Elite', 'Helvetica', Arial, sans-serif;
}

a{
    text-decoration: none;
}

*::selection{
    background-color: lightslategray;
}

body{
    background-color: #ea4255;
}

.main-wrap{
    max-width: 1440px;
    margin: 0 auto;
}

.contacts{
    min-height: 40px;
    color: #fff;
}

.contacts div{
    display: inline-block;
    line-height: 20px;
    font-size: 20px;
    padding: 20px 0;
    margin: 0 20px;
}

.header-wrap .header-pic{
    height: 250px;
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    text-align: center;
}

.header-wrap .cart-cta{
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
    color: #fff;
    display: block;
    font-size: 20px;
    padding: 20px 25px;
}

.site-logo{
    width: 100%;
    text-align: center;
    display: table;
}

.site-logo .site-logo-inner{
    display: table-cell;
    height: 250px;
    vertical-align: middle;
    width: 100%;
}

.site-logo-inner .header-youthy{
    color: #2a3437;
    font-size: 46px;
    letter-spacing: 1px;
    display: block;
}

.site-logo-inner small{
    font-size: 20px;
    font-family: 'Special Elite', 'Helvetica', Arial, sans-serif;
}

/*菜单布局*/
.header-wrap .header-nav{
    line-height: 50px;
    background-color: #2a3437;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.header-nav .nav>li{
    display: inline-block;
    margin: 0 20px;
}

.header-nav .nav{
    position: relative;
}

ul a{
    color: #fff;
    display: block;
}

nav a:hover{
    color: #aaa;
}

.sub-menu{
    position: absolute;
    list-style: none;
    display: none;
    z-index: 999;
    background-color: #2a3437;
    padding: 0px 20px;
    width: 150px;
    text-align: left;
    line-height: 40px;
}

.nav>li:hover .sub-menu{
    display: block;
}

/*图片轮播窗口*/
.slider-Band{
    color: #fff;
    min-height: 448px;
    width: 100%;
    background-image: url("../img/slider-3-1440x648.jpg");
    padding: 100px 0;
    position: relative;
}

.slider-band-inner{
    display: inline-block;
    padding: 30px 15px;
    background-color: rgba(0, 154, 233, 0.95);
}

.slider-band-inner h2{
    font-size: 28px;
    font-weight: normal;
}

.slider-band-content{
    display: inline-block;
    line-height: 20px;
    width: 520px;
    background-color: rgba(234, 66, 86, 0.85);
    padding: 20px;
    position: relative;
    top: 120px;
    left: -120px;
}

/*蓝色区域布局*/
.blue{
    background: #0099e9;
    width: 100%;
}

.table{
    display: table;
}

.row{
    text-align: center;
    display: table-row;
}

.cell{
    display: table-cell;
    vertical-align: middle;
}

.blue .box-wrap{
    display: inline-block;
    height: 400px;
    width: 400px;
    margin: 40px 40px;
    background: rgba(255,255,255,0.0);
    position: relative;
}

.blue .box{
    text-align: center;
    position: relative;
    display: inline-block;
    top: 10px;
    height: 380px;
    width: 380px;
    background: rgba(255,255,255,0.8);
}

.blue .cell:hover .box-wrap{
    background: rgba(255,255,255,0.3);
}

.box1{
    background-image: url("../img/theatre-600x368.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 850px 480px;
}

.box2{
    background-image: url("../img/job-shop-600x368.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 850px 480px;
}

.box3{
    background-image: url("../img/trekk-600x368.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 850px 480px;
}

.box4{
    background-image: url("../img/club-600x368.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 850px 480px;
}

.box5{
    background-image: url("../img/info-600x368.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 850px 480px;
}

.box6{
    background-image: url("../img/young-600x368.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 850px 480px;
}

.box7{
    height: 400px;
    width: 100%;
}

.box-content{
    height: 380px;
    width: 340px;
    text-align: center;
    line-height: 25px;
    padding: 20px;
}

.box-content a{
    font-size: 1.2em;
    color: #0099e9;
}

.box-content p{
    margin-bottom: 20px;
}

.box-content a:hover{
    color: #000;
}
.box-content h3,.entry-title-item8{
    margin-bottom: 20px;
}

.box-content .btn-primary{
    color: #fff;
    background-color: #0099e9;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
}

.box-content .btn-primary:hover{
    color: #000;
}

.entry-title-item8{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.box8 p{
    color: #fff;
    line-height: 40px;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.btn-info{
    color: #fff;
    background-color: #222;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: bold;
}

.btn-info:hover{
    color: #fff;
    background-color: #222;
}

/*Supporters布局*/
.Supporters{
    text-align: center;
    background-color: #fff;
    width: 100%;
    padding-top: 50px;
}

.Supporters h3{
    font-size: 2.0em;
}

.Supporters .sup-header{
    margin-bottom: 60px;
}

.Supporters .sup-content{
    width: 100%;
    height: 200px;
    display: table;
    text-align: center;

}

.Supporters .sup-box{
    display: table-cell;
    vertical-align: middle;
}

.Supporters img{
    max-width: 135px;
    height: auto;
}

.Supporters .left{
    color: #999;
    font-size: 2em;
    width: 110px;
}

.Supporters .right{
    color: #999;
    font-size: 2em;
    width: 110px;
}

.Supporters i:hover{
    color: #000;
    cursor: pointer;
}

/*博客区域布局*/
.blog-area{
    background-color: #2a3437;
    width: 100%;
    height: 1200px;
    text-align: center;
}

.blog-area .entry-title{
    color: #fff;
    text-align: center;
    font-size: 2.0em;
    padding: 40px 0;
    font-style: normal;
}

.blog-area .blog{
    width: 100%;
    height: 800px;
    padding: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.blog-area .blog-content{
    height: 400px;
    background: red;
}
.blog-area .blog-content1{
    height: 400px;
    background: blue;
}
.blog-area .blog-content2{
    height: 400px;
    background: black;
}
.blog-area .blog-content3{
    height: 400px;
    background: greenyellow;
}

.blog-area .blog-button{
    padding: 40px 0;
}

.blog-button .btn-info{
    background-color: #0099e9;
}
